
body {
  display: grid;
  grid-template: minmax(min-content, 100px) auto 2vh / 100vw;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: 'Muli', sans-serif;
}

body > header {
  overflow: hidden;
  grid-area: header;
  display: grid;
  grid-template: 100% / min-content 3fr 1fr;
}

body > header > hgroup {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #BAAFB3, rgb(231, 222, 225));
}

body > header > hgroup > h1 {
}

body > header > nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

body > header > nav > a {
  /* font: 1.1em 'Josefin Sans', sans-serif; */
  /* font: 1.1em 'Economica', sans-serif; */
  font: 1.1em 'Squada One', cursive;
  text-decoration: none;
  margin: 0px 2em;
}

body > header > ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.2em;
}



body > main {
  grid-area: main;
}

main > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

main > header > h1 {
  /* font: 4em 'Josefin Sans', sans-serif; */
  font: 4em 'Economica', sans-serif;
  /* font: 4em 'Squada One', cursive; */
  margin-bottom: 30px;
}

main > header > hgroup > h4 {
  color: #7EB738;
}

main > section {
  height: 90vh;
}

#work {
  background-image: linear-gradient(to bottom right, #BAAFB3, rgb(231, 222, 225));
  display: flex;
  justify-content: space-between;
  padding: 20vh 10vw;
  height: 130vh;
}

#work div:nth-child(1) {
  background: no-repeat url("./assets/booxy.png") center center;
  background-size: cover;
}
#work div:nth-child(2) {
  background: no-repeat url("./assets/gitgrub.png") center center;
  background-size: cover;
}
#work div:nth-child(3) {
  background: no-repeat url("./assets/companion-app.png");
  background-size: cover;
}
#work div:nth-child(4) {
  background: url("./assets/halchemy.png");
  background-size: cover;
}
#work div:nth-child(5) {
  background: no-repeat url("./assets/gorts.png") center center;
  background-size: cover;
}
#work div:nth-child(6) {
  background: no-repeat url("./assets/mystical-tutor.png");
  background-size: cover;
}

#work > div {
  transition: all 0.5s ease;
  filter: grayscale(100%);
  width: 16%;
  margin: 10px 5px;
  display: flex;
  align-items: flex-end;
  box-shadow: 4px 4px 15px grey;
}

#work div:hover {
  width: 100%;
  filter: none;
}

#work > div > h2 {
  transition: all 0.5s ease;
  display: none;
}

#work div:hover h2 {
  color: #7EB738;
  display: inline;
  padding: 1em;
  text-shadow: 1px 1px 5px black;
}

#about {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

#about > article {
  width: 50%;
  display: grid;
  grid-template: min-content auto auto / 100%;
  grid-gap: 30px 10px;
  grid-template-areas: 
    "about-head"
    "bio"
    "skills"
}

#about > article > header {
  grid-area: about-head;
  text-align: right;
}

#about > article > div {
  grid-area: bio;
  display: flex;
  align-items: center;
  flex-direction: center;
}

#about > article > div > img {
  box-shadow: 4px 4px 15px grey;
  margin-right: 2em;
}

#about > article > section {
  grid-area: skills;
}

#about > article > section > header {
  color: #574FBF;
  margin-bottom: 15px;
}

#about > article > section > ul {
  color: #7EB738;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 10px 10px;
}





@media only screen and (max-width: 768px) {
  body > header > nav {
    background: white;
  }

  h1 {
      font-size: 2em;
  }
}