:local(.about) {
  $purple: #574FBF;

  padding: 13vh 5vw 0 5vw;
  height: 100%;
  display: grid;
  grid-template-rows: 40vh 40vh;
  

  h2 {
    color: $purple;
    margin: 20px;
    text-align: right;
  }

  header {
    font-size: 2em;
  }


  div p:nth-child(2), div p:nth-child(4) {
    padding-left: 3em;
  }

  em {
    text-decoration: underline;
  }

  p {
    font-size: 1.3em;
  }

  .links {
    display: flex;
  }

  ul {
    border: 1px solid $purple;
    text-align: right;
  }

  i {
    font-size: 3em;
  }
 
  span {
    border: 1px solid $purple;
    padding: 7px 10px 10px 10px;
  }
}