:local(.about) {
  $purple: #574FBF;

  padding: 13vh 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  

  h2, h3 {
    color: $purple;
    margin: 20px;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  
}