:local(.app) {
  padding-top: 12vh;

  section {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 3vh 5vw;
    height: 90vh;
    grid-gap: 3vw;
  }

  section > div {
    transition: all 0.3s ease;
    margin: 0px 1px;
    display: grid;
    grid-template: 1fr 3fr / 100%;
    text-align: center;

  }

 

  h2 {
    color: inherit;
    font-size: .5em;
    height: 100%;
  }

  i {
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section div:hover {
    filter: grayscale(100%);

  }

  section div a {
    transition: all .5s ease;
    text-decoration: none;
    color: white;
    font-size: 2em;
  }
  section div:hover h2 {
    transform: translateY(10px);
  }

  section div:nth-child(1) {
    background: no-repeat url("../assets/gitgrub-large.png");
    background-size: cover;
  }
  section div:nth-child(2) {
    background: no-repeat url("../assets/companion-app.png");
    background-size: cover;
  }
  section div:nth-child(3) {
    background: url("../assets/halchemy-large.png");
    background-size: cover;
  }
  section div:nth-child(4) {
    background: url("../assets/snakes-large.png");
    background-size: cover;
  }

  
  
  
  
  // section > div > h2 {
  //   transition: all 0.5s ease;
  //   display: none;
  // }
  
  // section div:hover h2 {
  //   display: inline;
  //   padding: 1em;
  //   text-shadow: 1px 1px 5px black;
  // }

  @media only screen and (max-width: 768px) {
    section {
      align-items: center;
      overflow-y: scroll;
      flex-direction: column;
      height: auto;
      padding: 0 5vw;
    }
    section > div {
      width: 90vw;
      height: 90vw;
      margin: 5px 0px;
      display: flex;
      align-items: flex-end;
    }
  }

  a {
    width: 100%;
    height: 100%;
  }

  .project-name[min-width~="130px"] {
    color: red;
    font-size: .5em;
  }
  .project-name[min-width~="150px"] {
    color: red;
    font-size: .5em;
  }
}