:local(.header) {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 0px 5vw;
  background-image: linear-gradient(to top right, rgba(237, 85, 59, 0.8), rgba(242, 177, 52, 0.8));

  h1 {
    font: 5vh 'Playfair Display', serif;
  }

  .logo {
    background: no-repeat url("../assets/logo.png");
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  
  nav > a {
    font: 2.5vh 'Cairo', sans-serif;
    text-decoration: none;
    transition: all .2s ease;
    margin: 1em ;
    padding: 0 10px 0 9px;
    border: 1px solid white;
    color: white;
  }

  nav > a:hover {
    background: rgba(255, 211, 20, 0.5);
  }



  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.5em;
      width: 100%;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
    }

    nav > a {
      margin-left: 2em;
    }
  
  }

}