:local(.header) {
  overflow: hidden;
  display: grid;
  grid-template: min-content / auto 3fr minmax(auto, 1fr);
  margin: 0 5vw;
  padding: 10px;
  border-bottom: 1px solid grey;
  background: black;

  h1 {
    font: 3em 'Economica', sans-serif;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 5px;

  }
  
  nav > a {
    font: 1.1em 'Squada One', cursive;
    text-decoration: none;
    margin: 0px 5%;
    font-size: 1.5em;
    transition: all .2s ease;
  }

  i:hover, a:hover {
    transform: translateY(-5px);
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
    padding-bottom: 5px;
  }

  li {
    margin-left: 10%;
  }

  i {
    transition: all .2s ease;
  }

  @media only screen and (max-width: 768px) {
    grid-template: min-content / auto minmax(auto, 1fr);

    nav {
      position: fixed;
      bottom: 0;
      left: 0;
      background: black;
      z-index: 10;
      display: flex;
      justify-content: center;
      padding: 10px 0px;
      border-top: 1px solid grey;
    }

    nav > a {
      width: 100%;
      text-align: center;
    }
  
    h1 {
        font-size: 3em;
    }

  }

  @media only screen and (max-width: 321px) {
    grid-template: min-content / auto minmax(auto, 1fr);

    h1 {
      font-size: 2.45em;
    }
  }
}