@import url('https://fonts.googleapis.com/css?family=Economica|Josefin+Sans|Squada+One|Muli');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  color: #574FBF;
}